.paginationsContent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;

}

.paginations {
    margin: 2px;
    min-width: 20px;
    width: auto;
    border: 2px solid grey;
}

.paginations:hover {
    border: 2px solid black;
}

.paginationsActive {
    margin: 2px;
    max-width: 30px;
    min-width: 20px;
    border: 2px solid black;
    font-size: medium;
}

.paginationsContent button {
    width: 50px;
    font-size: medium;
}

@media (max-width: 470px) {
    .paginationsContent {
        font-size: 0.7em;
    }

    .paginationsContent button {
        font-size: 1em;
    }
}