/* profile */

.profileContent {
    display: grid;
    grid-template-areas: 'p i' 'c c';
    grid-template-rows: 1fr auto;
    grid-template-columns: 1.2fr 3fr;
    margin: 0;    
}

.photosAvatar {
    margin: 0;
    grid-area: p;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 10px;
}

.photoAvatar {
    margin: 10px;
    width: 300px;
    border-radius: 10%;
    cursor: pointer;
}

.modalImg {
 width: 100%;
 height: 100%;
 border-radius: 5%;   
}

.names {
    border-radius: 4px;
    margin: 5px 0;
    padding: 2px;
    text-align: center;
    cursor: pointer;
    display: block;
    transition: all 0.18s ease-in-out;
    border: 1px solid white;
    color:white;
    background-color: transparent;
}

.names:hover {
    background-color: blue;
}

.nulls {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.infoUser {
    margin:0 5px ;
    grid-area: i;
    display: grid;
    grid-template-areas: 's' 'w';
    grid-template-rows: 1fr 4fr;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 10px;
}

.content {
    grid-area: c;
}

.status {
    grid-area: s;
    margin-top: 5px;
    color: white;
}

/* end profile */

/* profileInfo */

.informations {
    grid-area: w;
    width: auto;
    color: white;
}


/* end profileInfo */


/* profileInfoEdit */

.name_input {
display: flex;
align-items: center;
justify-content: space-between;
margin: 7px 0;
}

.name_input input, .name_input textarea {
    margin:0 5px;
    padding: 2px;
    width: 200px;
    height: auto;
    color: white;
    background-color: transparent;
    border: 2px solid  white;
}

.name_input  input:hover, .name_input  textarea:hover {
   border: 2px solid blue;
}

  .name_input  input:focus, .name_input  textarea:focus {
    outline: none !important;
    border-color: blue;
 }


.button_edit {
    display: flex;
    justify-content: center;
    margin: 5px;
}

.button_edit button {
    width: 200px;
    border: none;
}

.contactsInfo {
    margin-left: 25px;
}

.contactsInfo  a {
    text-decoration: none;
    color:white;
}

.contactsInfo a:hover {
    color:blue;
}


/* end profileInfoEdit */


/*  status */
.form_contant {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form_button {
    display: flex;
    justify-content: center;
}

.form_button button {
    width: 200px;
    border: none;
}

.form_contant  textarea {
    width: 400px;
    text-align: center;
    color: white;
    background-color: transparent;
    border: none;
    outline:none;
    padding: 3px;
    margin: 10px;
    margin-bottom: 1px ;
}

.form_input {
    width: 400px;
    text-align: center;
    color: black;
    background-color: transparent;
    padding: 3px;
    margin: 10px;
    margin-bottom: 1px ;
}

/* end status */