/* profile */

.profileContent {
    display: grid;
    grid-template-areas: 'p i' 'c c';
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr;
}

.photosAvatar {
    grid-area: p;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.photosAvatar img {
    margin: 10px;
    width: 350px;
    border-radius: 10%;
    cursor: pointer;
}

.modalImg {
 width: 100%;
 height: 100%;
 border-radius: 5%;   
}

.names {
    width: 150px;
    height: 20px;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    display: block;
    transition: all 0.18s ease-in-out;
    border: 1px solid #333;
    color: #333;
}

.names:hover {
    color: blue;
}

.nulls {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.infoUser {
    margin: 5px;
    grid-area: i;
    display: grid;
    grid-template-areas: 's' 'w';
    justify-content: center;
}

.content {
    grid-area: c;
}

.status {
    grid-area: s;
}

/* end profile */

/* profileInfo */

.informations {
    grid-area: w;
}


/* end profileInfo */


/* profileInfoEdit */

.name_input {
display: flex;
align-items: center;
justify-content: space-between;
margin: 7px 0;
}

.name_input input, .name_input textarea {
    margin:0 5px;
    padding: 2px;
    width: 200px;
    height: auto;
    background-color: transparent;
    border: 2px solid  white;
}

.name_input  input:hover, .name_input  textarea:hover {
   border: 2px solid blue;
}

  .name_input  input:focus, .name_input  textarea:focus {
    outline: none !important;
    border-color: blue;
 }


.button_edit {
    display: flex;
    justify-content: center;
}

.button_edit button {
    margin: 10px 0;
    width: 100px;
    border: none;
}

/* end profileInfoEdit */


/*  status */
.form_contant {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form_button {
    padding: 3px;
    margin: 0;
    width: 215px;
    border: none;
}

.form_contant  textarea {
    width: 400px;
    text-align: center;
    color: black;
    background-color: transparent;
    padding: 3px;
    margin: 10px;
    margin-bottom: 1px ;
}

.form_input {
    width: 400px;
    text-align: center;
    color: black;
    background-color: transparent;
    padding: 3px;
    margin: 10px;
    margin-bottom: 1px ;
}

/* end status */