.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
    background: rgba(0,0,0, 0.5);
}

.modalContent {
    padding: 55px; 
    width: 100%;
}

.modalActive {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    position: fixed;
    right: 5%;
    top: 5%;
}