.navBar {
    /* position: fixed; */
    margin: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 5px 0;
    grid-area: n;
    background-color: rgba(0, 0, 0, 0.95);
    border-radius: 20px;
    min-height: 600px;
    /* ?????? */
    /* max-height: 600px;
    width: 100%; */

}

.link {
    margin: 5px;
}

.link a {
    text-decoration: none;
    color:white;
}

.link a:hover {
    color:blue;
}

.link a.active {
    color:goldenrod;
}